/* Footer Menu  */
.textBox {
  white-space: nowrap;
  transform: translateX(0);
  transition: 0.5s;
}

.textBox:hover {
  transform: translateX(calc(120px - 100%));
}


/* Product Details Css */
.thumbnail .keen-slider__slide {
  max-width: 4rem !important;
  min-width: 4rem !important;
}

.thumbnail .keen-slider__slide.active {
  max-width: 4rem !important;
  min-width: 4rem !important;
}

/* Product Details Quantity Button */
.btn {
  box-shadow: none !important;
}

.quantity {
  width: 144px;
  padding: 2px;

  .btn {
    width: 40px;
    height: 40px;
  }

  .form-control {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border: 0;

    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}


/* Login CSS  */
.containersL {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.containersL .text {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containersL form .form-row {
  display: flex;
  margin: 32px 0;
}
/* Review CSS  */
.containers {
  background: #fff;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.containers .text {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containers form {
  padding: 0px 0 0 0;
}

.containers form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 60px;
  margin: 0 20px;
  position: relative;
  padding-top: 30px;
}

form .form-row .input-data2 {
  width: 100%;
  height: 60px;
  margin: 0 20px;
  position: relative;
  padding-top: 30px;
}

form .form-row .textarea {
  height: 55px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.input-data2 input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.input-data2 input:focus~label,
.textarea textarea:focus~label,
.input-data2 input:valid~label,
.textarea textarea:valid~label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data2 .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
  transform: scale(1);
}
.input-data2 input:focus~.underline:before,
.input-data2 input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
  transform: scale(1);
}

.submit-btn .input-data {
  overflow: hidden;
  height: 50px !important;
  width: 25% !important;
  border-radius: 10px;
}

.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
  border-radius: 10px;
}

.submit-btn .input-data:hover .inner {
  left: 0;
}

.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}


/* textarea */
.extra>.input-data.textarea.px-0.pb-0 {
  margin-top: 10px;
  padding-top: 4px !important;
}

/* Submit Btn */

.marge>.input-data {
  padding: 0px !important;
}



/* Spinner Css  */
.loading-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px; /* Adjusted width */
  height: 300px; /* Adjusted height */
  position: relative;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.cube.rotate {
  z-index: 11;
  animation: panel 12.0s infinite forwards;
}

.cube div {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 160px; /* Adjusted font size */
  background: linear-gradient(to right, #752efac3, #4b6fffad); /* Gradient background */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Adding shadow to each side */
  color: #fff;
}

.front {
  transform: translateZ(150px); /* Adjusted translateZ value */
}

.back {
  transform: rotateY(180deg) translateZ(150px); /* Adjusted translateZ value */
}

.left {
  transform: rotateY(-90deg) translateZ(150px); /* Adjusted translateZ value */
}

.right {
  transform: rotateY(90deg) translateZ(150px); /* Adjusted translateZ value */
}

.top {
  transform: rotateX(90deg) translateZ(150px); /* Adjusted translateZ value */
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px); /* Adjusted translateZ value */
}

@keyframes panel {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  17% {
    transform: rotateY(-90deg);
  }
  34% {
    transform: rotateX(-90deg);
  }
  51% {
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  68% {
    transform: rotateY(90deg);
  }
  85% {
    transform: rotateX(90deg);
  }
}





/* Our Activities Css  */
.home-content {
  max-width: 60rem;
}

.home-content h1 {
  font-size: 6.6rem;
  font-weight: 900;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3 {
  font-size: 4.2rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2.4px #4B6FFF;
}
.home-content h3 {
  font-size: 4.2rem;
  font-weight: 900;
}


.minHScreen {
  min-height: calc(100vh - 600px);
}

















































@media (max-width: 768px) {
  .containers .text {
    font-size: 30px;
  }

  .containers form {
    padding: 10px 0 0 0;
  }

  .containers form .form-row {
    display: block;
  }

  form .form-row .input-data {
    margin: 15px 0 !important;
  }

  .submit-btn .input-data {
    width: 40% !important;
  }
  
.containers .text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* cube spinner responsive */
.loading-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  width: 180px; /* Adjusted width */
  height: 180px; /* Adjusted height */
  position: relative;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.cube.rotate {
  z-index: 11;
  animation: panel 12.0s infinite forwards;
}

.cube div {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 55px; /* Adjusted font size */
  background: linear-gradient(to right, #752efac3, #4b6fffad); /* Gradient background */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Adding shadow to each side */
  color: #fff;
}

.front {
  transform: translateZ(90px); /* Adjusted translateZ value */
}

.back {
  transform: rotateY(180deg) translateZ(90px); /* Adjusted translateZ value */
}

.left {
  transform: rotateY(-90deg) translateZ(90px); /* Adjusted translateZ value */
}

.right {
  transform: rotateY(90deg) translateZ(90px); /* Adjusted translateZ value */
}

.top {
  transform: rotateX(90deg) translateZ(90px); /* Adjusted translateZ value */
}

.bottom {
  transform: rotateX(-90deg) translateZ(90px); /* Adjusted translateZ value */
}

@keyframes panel {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  17% {
    transform: rotateY(-90deg);
  }
  34% {
    transform: rotateX(-90deg);
  }
  51% {
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  68% {
    transform: rotateY(90deg);
  }
  85% {
    transform: rotateX(90deg);
  }
}

/* Our Activities css  */
.home-content {
  max-width: 100%;
}

.home-content h1 {
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 100%;
}

.home-content .text-animate h3 {
  font-size: 2.2rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #4B6FFF;
}
.home-content h3 {
  font-size: 2.2rem;
  font-weight: 900;
}

/* Login CSS  */

.containersL .text {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containersL form .form-row {
  display: flex;
  flex-direction: column;
  margin: 0px 0;
}
form .form-row .input-data2 {
  margin: 0 0px;
  position: relative;
  padding-top: 20px;
}
form .form-row .input-data {
  margin: 0 0px;
}

}

/* Responsive */
@media only screen and (max-width: 1280px) {
  .footerContent {
    padding: 30px;
  }
  .containers .text {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  /* Our Activities css  */
.home-content {
  max-width: 100%;
}

.home-content h1 {
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 100%;
}

.home-content .text-animate h3 {
  font-size: 2.2rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #4B6FFF;
}
.home-content h3 {
  font-size: 2.2rem;
  font-weight: 900;
}
}

@media only screen and (min-width: 1680px){
  .minWidth3xl{
    padding-left: 650px;
    padding-right: 650px;
  }
  .minWidth3xlReg{
    padding-left: 550px;
    padding-right: 550px;
  }
}